@{
    ViewBag.Title = "Trang Cá Nhân";
}

@section sidebar_section
{

}
<h2>Trang Cá Nhân của @Session["name"]</h2>
<img style="width:200px; height:150px;" src="~/Content/Upload/avatar/@Session["image"]" />
