<div id="templatemo_header">

    <div id="site_title">
        <h1>
            <a href="#">
                <img src="~/Content/LibraryK29Template/images/templatemo_logo.png" alt="Thư Viện Thông Tin Học - K29 logo" />
                <span>Quản Trị Thông Tin K29</span>
            </a>
        </h1>
    </div>
    <div id="logginarea">
        @if (Session["role"] != "m")
        {
            <a href="#"><img src="~/Content/LibraryK29Template/images/cart.png" id="cart">(0 Cuốn sách)</a>
        }
        @if (Session["role"] == "u")
        {
            <a href="/DangNhap/NhapThongTin">Đăng Nhập</a>
            @:| <a href="/DangKy/NhapThongTin">Đăng Ký</a>
        }
        @if (Session["role"] == "m")
        {
            @:| <a href="/QuanLyCaNhan/Xem">@Session["hovaten"]</a>
        }
        @if (Session["role"] != "m")
        {
            @:|<a href="/QuanLyCaNhan/Xem">@Session["hovaten"]</a>
        }
        @if (Session["role"] != "u")
        {
            @:| <a href="/DangNhap/ThucHienDangXuat">Đăng Xuất</a>
        }
        | <a href="#">English </a>
    </div>
    <div id="templatemo_menu">
        <ul>
            <li><a href="/KhoSach/Xem" class="current">Trang Chủ</a></li>
            <li><a href="/KhoSach">Kho Sách</a></li>
            <li><a href="/TacGia">Tác Giả</a></li>
            @if (Session["role"] == "a")
            {
                <li><a href="/QuanTri/QuanLyDauSach">Admin</a></li>
            }
            <li><a href="/LienHe">Liên Hệ</a></li>
        </ul>
    </div> <!-- end of templatemo_menu -->

    <div id="search_box">
        <form action="#" method="get">
            <input type="text" value="Nhập vào từ khóa..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
        </form>
    </div>

    <div class="cleaner"></div>
</div>
