@using _03DHCNTT3_185_DNTu_Chuong2_Phan1_BTTH02.Models.DTO;
@using _03DHCNTT3_185_DNTu_Chuong2_Phan1_BTTH02.Models.BUS;
<h2>Danh Mục Sách</h2>

@{
    Layout = null;
    List<ChuDe_DTO> chudes = ChuDe_BUS.LayDanhSachChuDe();
}
<h2>Chủ Đề Sách</h2>

<div class="sidebar_section_content">

    <ul class="categories_list">
        @foreach (ChuDe_DTO chude in chudes)
        {
            <li><a href="/KhoSach/ChuDe?ma=@chude.Machude">@chude.Tenchude</a></li>
        }
    </ul>
</div>