
<h2>Danh Mục Sách</h2>

<div class="sidebar_section_content">

    <ul class="categories_list">
        <li><a href="#">Sách giáo khoa</a></li>
        <li><a href="#">Sách văn học</a></li>
        <li><a href="#">Sách tin học </a></li>
        <li><a href="#">Sách ngoại ngữ</a></li>
        <li><a href="#">Sách khoa học</a></li>
        <li><a href="#">Sách kinh tế</a></li>
        <li><a href="#">Thời trang</a></li>
        <li><a href="#">Văn hóa</a></li>
        <li><a href="#">Từ điển</a></li>
        <li><a href="#">Truyện Tranh</a></li>
    </ul>
</div>